body{
    background-image: url("/img/wallpaper/walp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-topBar{
    background-color: #191919;
    border-radius: 25px;
    border-color: white;
    padding: 1px;
    padding-inline-start: 50%;
}
.textosEmBranco, ul{
    color: white;
    text-shadow: #191919;
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    margin: 10px;
    
}
li{
    display: inline-block;
    
}